.data_type
{
    color: rgb(204, 204, 241);
}

.variable
{
    color: rgb(192, 159, 188);
}

.reserved
{
    color: rgb(117, 102, 250);
}

.comments
{
    color: rgb(160, 168, 142);
    font-style: italic !important;
}

.strings
{
    color: rgb(236, 6, 6);
}
.main_color
{
    color: rgb(115, 230, 115) !important;
    font-family: consolas, "Courier New";
}
